{
    "phpVersion": "8.1",
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "trailingCommaPHP": true,
    "trailingComma": "all",
    "singleAttributePerLine": true,
    "braceStyle": "psr-2",
    "printWidth": 100
}
